*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Amatic SC', cursive;
	font-family: 'Varela Round', sans-serif;
	font-size: 18px;
}

body{
    background-color: #F8F8F5;
}

.pageContainer{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.myBtn{
    padding: 12px 18px;
    background-color: #01cb88;
    color: #fff;
    text-align: center;
    border: none;
    border-radius: 18px;
    cursor: pointer;
}

.myBtn:hover{
    background-color: #50a060;
}

.mainColor{
    color:#01cb88;
}

.icon:hover{
    color:#50a060;
}

.title{
    text-transform: uppercase;
    color: #01cb88;
    font-size: 30px;
}

